@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

@layer base {
  body {
    @apply antialiased text-slate-200 bg-slate-950;
  }
}

@layer components {
  .glass-card {
    @apply bg-white/[0.02] backdrop-blur-xl border border-white/[0.05] rounded-2xl shadow-2xl;
  }
}