<Location /emby>
  Satisfy Any
  Require all granted
  ProxyPass http://localhost:8096/emby
  ProxyPassReverse http://localhost:8096/emby
</Location>

<Location /embyws>
  Satisfy Any
  Require all granted
  ProxyPass ws://localhost:8096/embyws
  ProxyPassReverse ws://localhost:8096/embyws
</Location>
