<VirtualHost *:31400>
  ServerName _
  ProxyRequests Off
  ProxyPreserveHost On
  RequestHeader set X-Forwarded-Proto "https"
  RequestHeader set X-Forwarded-Port "443"

  <Location "/">
    AuthType Digest
    AuthName "aetherflow"
    AuthUserFile "/etc/htpasswd"
    Require valid-user
    ProxyPass "http://PUBLICIP:32400/" retry=0 timeout=300
    ProxyPassReverse "http://PUBLICIP:32400/"
  </Location>
</VirtualHost>

Listen 31400
