#
# This file MUST be edited with the 'visudo' command as root.
#
# Please consider adding local content in /etc/sudoers.d/ instead of
# directly modifying this file.
#
# See the man page for details on how to write a sudoers file.
#
Defaults	env_reset
Defaults	mail_badpass
Defaults secure_path="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/bin/aetherflow:/usr/local/bin/aetherflow/system:/usr/local/bin/aetherflow/package:/usr/local/bin/aetherflow/package/install:/usr/local/bin/aetherflow/package/remove:/usr/local/bin/aetherflow/plugin:/usr/local/bin/aetherflow/plugin/install:/usr/local/bin/aetherflow/plugin/remove"
Defaults  env_keep -="HOME"

# Host alias specification

# User alias specification

# Cmnd alias specification
Cmnd_Alias   CLEANMEM = /usr/local/bin/aetherflow/system/clean_mem, /proc/sys/vm/drop_caches
Cmnd_Alias   SYSCMNDS = /usr/local/bin/aetherflow/system/clean_log, /usr/local/bin/aetherflow/system/set_interface, /usr/local/bin/aetherflow/system/setdisk, /usr/local/bin/aetherflow/system/showspace, /usr/local/bin/aetherflow/system/updateAetherFlow, /usr/local/bin/aetherflow/system/lang/langSelect-*, /usr/local/bin/aetherflow/system/theme/themeSelect-*, /usr/local/bin/aetherflow/system/install_ffmpeg, /usr/local/bin/aetherflow/system/quickVPN, /usr/local/bin/aetherflow/system/box
Cmnd_Alias   PLUGINCMNDS = /usr/local/bin/aetherflow/plugin/install/installplugin-*, /usr/local/bin/aetherflow/plugin/remove/removeplugin-*
Cmnd_Alias   PACKAGECMNDS = /usr/local/bin/aetherflow/package/install/installpackage-*, /usr/local/bin/aetherflow/package/remove/removepackage-*
Cmnd_Alias   GENERALCMNDS = /usr/bin/ifstat, /usr/bin/vnstat, /usr/sbin/repquota, /usr/bin/reload, /etc/init.d/apache2 restart, /usr/bin/pkill, /usr/bin/killall, /bin/systemctl

# User privilege specification
root	ALL=(ALL:ALL) ALL
www-data     ALL = (ALL) NOPASSWD: CLEANMEM, SYSCMNDS, PLUGINCMNDS, PACKAGECMNDS, GENERALCMNDS

# Members of the admin group may gain root privileges
%admin ALL=(ALL) ALL

# Allow members of group sudo to execute any command
%sudo	ALL=(ALL:ALL) ALL

# See sudoers(5) for more information on "#include" directives:

#includedir /etc/sudoers.d
