ProxyRequests Off
ProxyPreserveHost On
RequestHeader set X-Forwarded-Proto "https"
RequestHeader set X-Forwarded-Port "443"

<Location "/USER.console">
    AuthType Digest
    AuthName "aetherflow"
    AuthUserFile "/etc/htpasswd"
    Require valid-user
    ProxyPass "http://PUBLICIP:4224/"
    ProxyPassReverse "http://PUBLICIP:4224/"
</Location>
